#cyberbuttonB {
  background-color: #86be73;
  color: black;
  border-color: #86be73;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border-width: 3px;
}

#cyberbuttonB:focus {
  outline: none;
  box-shadow: none;

  outline-offset: none;
}

#cyberbuttonA {
  background-color: white;
  color: black;
  border-color: #86be73;
  border-width: 3px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

#cyberbuttonA:focus {
  outline: none;
  box-shadow: none;
  outline-offset: none;
}

#cyberbuttonA:hover {
  background-color: #86be73;
  color: white;
}

#cyberbuttonB:hover {
  color: white;
  background-color: #86be73;
}

#cyberbuttonC {
  background-color: white;
  color: black;
  border-color: #86be73;
  border-width: 3px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

#cyberbuttonC:focus {
  outline: none;
  box-shadow: none;
  outline-offset: none;
}

#cyberbuttonC:hover {
  background-color: #86be73;
  color: white;
}

#cyberbuttonD {
  background-color: white;
  color: black;
  border-color: #86be73;
  border-width: 3px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

#cyberbuttonD:focus {
  outline: none;
  box-shadow: none;
  outline-offset: none;
}

#cyberbuttonD:hover {
  background-color: #86be73;
  color: white;
}
